<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Gia phả họ dương</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/owl.carousel.css" rel="stylesheet" />
    <link href="~/Content/sld/css/slider-pro.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

</head>
<body>

    <header id="header">
        <div class="container">
            <div class="row" id="header_1">
                <div class="col-md-12">
                    <img src="~/images/thumbnail_gia-pha.jpg" class="img-responsive" />
                </div>

            </div>
        </div>
    </header>

    <div class="container">
        <nav class="navbar navbar-default nav_xyz1">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Trang chủ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", style = "color: #fff;" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#">Gia phả</a></li>
                    <li><a href="/News/tin/tin-hop-ho">Tin họp họ</a></li>
                    <li><a href="/News/tin/tin-hoi-he">Tin hội hè</a></li>
                    <li><a href="/News/tin/doanh-nghiep-ho-duong">Doanh nghiệp họ Dương</a></li>
                    <li>@Html.ActionLink("Liên hệ", "Contact", "Home")</li>
                    @Html.Partial("_LoginPartial")
                </ul>

            </div>
        </nav>
    </div>


    <div id="main">
        <div class="container">
            @RenderBody()
        </div>
    </div>

    <footer style="bottom: 0;margin-top: 100px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>&copy; @DateTime.Now.Year - Gia phả họ Dương</p>
                </div>
            </div>
        </div>
    </footer>

    <div class="cdtrai hidden-xs"></div>
    <div class="cdphai hidden-xs"></div>

    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/owl.carousel.js"></script>
    <script src="~/Content/sld/js/jquery.sliderPro.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
