<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Gia phả họ dương</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/owl.carousel.css" rel="stylesheet" />
</head>
<body>

    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <img src="~/images/thumbnail_gia-pha.jpg" class="img-responsive" />
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <nav class="navbar navbar-default">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Trang chủ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#">Gia phả</a></li>
                    <li><a href="/News/tin/tin-hop-ho">Tin họp họ</a></li>
                    <li><a href="/News/tin/tin-hoi-he">Tin hội hè</a></li>
                    <li><a href="/News/tin/doanh-nghiep-dia-phuong">Doanh nghiệp địa phương</a></li>
                    <li>@Html.ActionLink("Liên hệ", "Contact", "Home")</li>
                    @Html.Partial("_LoginPartial")
                </ul>

            </div>
        </nav>
    </div>


    <div id="main">
        <div class="container">
            @RenderBody()
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>&copy; @DateTime.Now.Year - Gia phả họ dương</p>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/jquery-ui-1.12.0.min.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/owl.carousel.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
