@model List<gpw.Models.news>

<div class="newshot">

    <!--Our Agent Warp Start-->
    <section class="kf_our_agent_bg">
        <!--Heading Wrap Start-->
        <div class="kf_heading_1">
            <h3 style="margin-top: 0; color: #fff;">Trang nhất</h3>
        </div>

        <div id="example5" class="slider-pro">
            <div class="sp-slides">
                @if (Model.Count > 0)
                {
                    foreach (var item in Model)
                    {
                        <div class="sp-slide">
                            <a href="/News/Details/@item.id">
                                <img class="sp-image" src="@item.new_img"
                                     data-src="@item.new_img"
                                     data-retina="@item.new_img" />
                            </a>
                            <div class="sp-caption"><a href="/News/Details/@item.id">@item.new_title</a></div>
                        </div>
                    }
                }              
            </div>
            <div class="sp-thumbnails">
                @if (Model.Count > 0)
                {
                    foreach (var item in Model)
                    {
                        <div class="sp-thumbnail" style="padding: 5px; border-top: 1px solid #cbcbcb; border-bottom: 1px solid #cbcbcb;">
                            <div class="sp-thumbnail-text">
                                <div class="sp-thumbnail-title">@item.new_title</div>
                            </div>
                        </div>
                    }
                }
                
            </div>
        </div>
    </section>
    <!--Our Agent Warp End-->
</div>
